textarea {
    min-height: 400px;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul> li {
    border: 1px solid;
    margin-bottom: 0.2em;
    cursor: pointer;
}

ul > li > div {
    padding: 0.5em;
}

.align-right {
    float: right;
}

.grey-color {
    color: grey;
}